<header>
  <div id="masthead">
    <div id="hamburger-box">
    </div>
    <div id="logo-box">
      <a href="/" class="logo"><span>T</span>HE <span>B</span>ANNER <span>W</span>EEKLY</a>
    </div>
    <div id="greeting-box"></div>
</header>