<header>
  <div id="masthead">
    <div id="hamburger-box">
    </div>
    <div id="logo-box">
      <a href="/" id="logo"><span>T</span>HE <span>D</span>IGITAL <span>H</span>ERALD</a>
    </div>
    <div id="greeting-box"></div>
</header>