<div id="app">
  <%= render "static_pages/header" %>

  <main id="static-asset">
      <h1 class="section-title">About</h1>
      <p class="question">These articles are nonesense</p>
      <p>If you haven't noticed already, the articles here don't make a ton of sense. That's because the were written by AI.</p>
      <p class="question">Is everything written by AI?</p>
      <p>No, the headlines are copied from or heavily based on recent headlines from publications around the world. The text generation is based on the headline supplied to it.</p>
      <p class="question">Why make a site like this?</p>
      <p>This site was originally made before OpenAI's GPT-3 was public, before AI was widely adopted around the web. At first, it was meant to demonstrate how easy it was to generate content using AI, dressing up in a way to seem legitimate. My fear was that AI content would overwhelm the internet and it would soon become hard to distinguish between AI and human created content. Not knowing what was real or fake. It's not clear how much of what's currently on the internet is made by AI, but we are well on our way to a world where the mojority of it is. At this point, AI is less novel, people are used to seeing it everywhere, yet the impact AI on our future is largely unknown.</p>
      <p>For now, this site is just a place for me to exercise my creativity and keep up to date on the latest in full stack web development.</p>
      <p class="question">Additional thoughts</p>
      <p>Reach out and <a target="_blank" rel="noopener noreferrer"href="https://www.linkedin.com/in/mitchell-wold">let me know</a>.</p>
  </main>

  <%= render "static_pages/footer" %>
</div>
