<div id="app">
  <%= render "static_pages/header" %>

  <main id="static-asset">
      <h1 class="section-title">Privacy</h1>
      <p>This website records your username/credentials, your comments, your favorited articles, and nothing else.</p>
      <p>If you have any questions or concerns, please reach out to me on LinkedIn
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/mitchell-wold">
          here
        </a>
        .
      </p>
  </main>

  <%= render "static_pages/footer" %>
</div>
