<h3>Nameswapping Tool</h3>
<p>use this tool to swap outdated names with newer ones</p>
<form id="name-swap"> 
  <label>Old name:
    <input type="text" id="old-name">
  </label>
  <label>New name:
    <input type="text" id="new-name">
  </label>
  <input type="submit" value="Swap Names">
</form>