<h1>Edit The Article</h1>
<%= render 'article_form', article: @article, action_type: :edit %>
<%= render 'name_swap' %>
<a href="<%= admin_article_url(@article) %>">Back to Article</a>
<%= javascript_pack_tag 'admin_portal' %>
<script src="https://cdnjs.deepai.org/deepai.min.js"></script>