$serif: 'Playfair Display', serif;
$sans-serif: 'Lato', sans-serif;

$gray: rgb(100, 100, 100);
$gray-opac: rgba(75, 75, 75, 0.5);
$lightgray: rgb(215, 215, 215);
$highlight-color: rgba(136, 136, 136, 0.1);
$blue: rgb(30, 100, 225);
$blue-opac: hsla(225, 100%, 50%, 0.1);
$white: white;
$black: black;
$slate: rgb(46, 77, 77);
$black-opac: rgba(0, 0, 0, 0.5);

$darkgray: rgba(17, 14, 9, 0.7);
$bugandy: rgba(84, 0, 15, 0.7);
$pastel-blue: rgba(47, 63, 89, 0.7);
$aqua: rgba(13, 94, 94, 0.7);
$creme: rgb(242, 240, 223);
