/* Layout */

#app {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  display: flex;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

aside, article, section {
  padding: 0 25px 25px 25px;
}

aside {
  flex: 1 1 25%;
}

article {
  flex: 2 1 50%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

section {
  flex: 3 1 75%;
  border-right: 1px solid gray;
}

/* General Style */

h2 {
  padding: 5px 0;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: underline;
}

figure {
  padding: 25px;
}

figcaption {
  color: gray;
  font-family: sans-serif;
  font-size: 10px;
}

figcaption a {
  text-decoration: underline;
}

.author-name {
  color: rgb(57, 57, 214);
  text-decoration: underline;
}

/* Section-Specific Style */

/* Modal */

#modal-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-container {
  width: 400px;
  position: relative;
  left: calc(50% - 200px);
  top: 10%;
}

#modal-container > .error-message {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

#hide-modal {
  position: absolute;
  right: -10px;
  top: -10px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 3px solid gray;
  border-radius: 15px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  background-color: black;
  cursor: pointer;
}

#session-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  border-radius: 25px;
  background-color: whitesmoke;
  font-family: sans-serif;
}

/* Header & Footer */

header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

.greeting {
  position: absolute;
  align-self: flex-end;
  margin: 25px 25px 0 0;
}

#logo {
  font-size: 72px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid darkgray;
  font-size: 10px;
  font-family: sans-serif;
  color: rgb(105, 105, 105);
  background-color: lightgray;
}

footer > ul {
  display: flex;
}

footer ul li {
  margin-right: 15px;
}

/* Article Lists */

.latest-articles > a {
  color: blue;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  display: block;
  text-align: end;
}

#sections {
  display: flex;
  padding: 5px 0;
  margin-bottom: 10px;
}

#sections > li {
  padding-left: 10px;
  padding-right: 10px;
}

#sections > li::before {
  content: "|";
  margin-right: 20px;
}

#sections > li:first-child::before {
  content: none;
}

.latest-art {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid gray;
}

.latest-art:first-of-type {
  border-top: none;
}

.small-photo {
  margin-right: 7px;
  width: 100px;
  height: 100px;
}

/* Trending Articles */

.trending-articles > div {
  margin-top: 5px;
  margin-bottom: 20px;
}

.trend-art-photo {
  padding: 10px;
}

/* Article */

.main-article-image {
  height: auto;
}

.article-headline {
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.list-headline {
  font-weight: bold;
  text-decoration: underline;
}

/* tags */
li[class$="tag"] {
  margin-bottom: 5px;
  font-style: italic;
  display: inline-block;
  padding: 0 3px;
}

li[class^="sports"] {
  background-color: lightseagreen;
}

li[class^="us"] {
  background-color: goldenrod;
}

li[class^="politics"] {
  background-color: rosybrown;
}

li[class^="business"] {
  background-color: khaki;
}


