@import "./00_colors_and_fonts.scss";

// Header
header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111111;
  color: $white;
}

#masthead {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 100%;
}

[id^="hamburger-"],
[id^="greeting-"] {
  flex: 1;
}

.logo {
  font-size: 1rem;
  font-family: $serif;
  border-bottom: 1px solid $aqua;
  cursor: pointer;
}

.logo > span {
  font-size: 1.5rem;
}

.logo:hover {
  text-decoration: none;
}

#hamburger-box {
  position: relative;
}

#greeting-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

#hamburger-icon,
[id^="avatar"] {
  margin: 0 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("/assets/sprite.svg");
  background-repeat: no-repeat;
  background-size: 30px 210px;
  cursor: pointer;
}

#hamburger-icon {
  border-radius: 4px;
  background-position: 0 -120px;
}

#hello-user {
  display: none;
}

#avatar-login {
  background-position: 0 -60px;
}

#avatar-logout {
  background-position: 0 -90px;
}

#hamburger-icon:hover,
[id^="avatar"]:hover {
  background-color: $gray-opac;
}

#section-dropdown {
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 0;
  background-color: $black-opac;
  border: 1px solid $black;
  border-left: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 4px #555555;
}

.section-dropdown-items a {
  display: block;
  font-weight: bold;
  padding: 15px 40px 15px 20px;
}

#login-dropdown {
  width: 100px;
  position: absolute;
  top: 55px;
  right: 24px;
  z-index: 1;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 5px;
  box-shadow: 0 0 4px #555555;
}

#login-dropdown::after,
#login-dropdown::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -20px;
  right: 5px;
  border-bottom: 10px solid $black;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

#login-dropdown::after {
  top: -19px;
  right: 5px;
  border-bottom: 10px solid $white;
}

.login-dropdown-item {
  color: $black;
  padding: 10px 0 10px 10px;
  font-weight: bold;
  cursor: pointer;
}

.login-dropdown-item:first-of-type {
  border-bottom: 1px solid $black;
  border: none;
}

.login-dropdown-item:hover {
  background-color: $gray-opac;
}

#sections {
  display: none;
}