@import "./00_colors_and_fonts.scss";

// Front Page

#front-page {
  padding: 10px;
}

// Featured Article

#featured-article {
  border-bottom: 1px solid $lightgray;
  padding-bottom: 20px;
}

#featured-article > .byline {
  font-size: 14px;
  color: $gray;
}

#featured-article > figure {
  margin: 10px;
}

// Highlighted Articles

#highlighted-articles {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.highlighted-headline {
  font-size: 18px;
  text-decoration: underline;
}

.highlighted-article {
  position: relative;
  padding: 20px 10px;
  flex: 0 0 50%;
}

.highlighted-article:nth-of-type(n+3) {
  border-top: 1px solid $lightgray;
}

.highlighted-article:nth-of-type(n+7) {
  flex: 0 0 100%;
}

.highlighted-article:nth-of-type(1)::after,
.highlighted-article:nth-of-type(3)::after,
.highlighted-article:nth-of-type(5)::after {
  content: "";
  position: absolute;
  display: block;
  height: 90%;
  border-right: 1px solid $lightgray;
  right: 0;
  top: 5%;
}
