@import "./00_colors_and_fonts.scss";

// Article

.article {
  padding: 10px;
}
.main-article-headline,
.article-headline {
  font-size: 24px;
}

.article > .byline {
  padding-bottom: 20px;
  font-size: 14px;
}

.article figure {
  margin-left: 5px;
  margin-right: 5px;
}

.main-article-image {
  height: auto;
}

.article-body {
  margin: 25px 5px;
}

.article-body > p {
  margin: 25px 0;
}

.disclaimer {
  font-style: italic;
}

.disclaimer > a {
  text-decoration: underline;
  color: $aqua;
}

// Favorite button 

#favorite-container {
  display: flex;
  align-items: center;
}

[class^="star"] {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  background-image: image-url("sprite.svg");
  background-repeat: no-repeat;
  background-size: 40px 280px;
  background-position: 0 0;
}

[class^="star"]:hover {
  background-color: $blue-opac;
  background-image: image-url("sprite.svg");
  cursor: pointer;
}

[class$="favorite"] {
  background-position: 0 -40px;
}

// Comments

#comments {
  margin-bottom: 25px;
  padding: 0 3px;
  border-top: 7px solid $pastel-blue;
  border-bottom: 7px solid $pastel-blue;
  background-color: $highlight-color;
}

#comment-feed {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
}

#no-comments {
  padding: 10px 0;
}

#comments > p {
  padding-bottom: 10px;
}

.comment {
  padding: 5px 0;
  border-top: 1px solid $lightgray;
}

.comment:first-of-type {
  border: none;
}

.comment-author, .comment-date {
  padding: 3px 0;
  font-size: 12px;
  color: $slate;
}

.comment-form {
  display: flex;
  align-items: center;
  margin: 15px 5px;
}

.comment-form textarea {
  resize: none;
  flex: 1 1 60%;
  height: 50px;
}

.refresh-comments {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.comment-form input[type='submit'],
.refresh-comments {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 50%;
  overflow: hidden;
  background-image: image-url("sprite.svg");
  background-repeat: no-repeat;
  background-size: 30px 210px;
  background-position: 0 -150px;
  cursor: pointer;
}

.refresh-comments:hover,
.comment-form input[type="submit"]:hover {
  box-shadow: 0px 0px 5px 0px rgb(161, 161, 161);
}

.comment-form input[type="submit"]:active,
.refresh-comments:active {
  box-shadow: none;
}

.spin {
  -webkit-animation: spin 1s linear infinite forwards;
  animation: spin 1s linear infinite;
}

.comment-form input[type='submit'] {
  border: none;
  background-position: 0 -180px;
  margin-left: 10px;
}