@import "./00_colors_and_fonts.scss";

// Responsive Design

#section-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $black-opac;
  border: 1px solid $black;
  border-left: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 4px #555555;
}

#hamburger-box {
  position: relative;
}

.section-dropdown-items a {
  display: block;
  padding: 10px 40px 10px 10px;
}

// #hamburger-icon,
// [id^="avatar"] {
//   margin: 25px;
// }