@import "./00_colors_and_fonts.scss";

#static-asset {
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
}

#static-asset p {
  margin: 10px 0;
}

#static-asset a {
  color: $blue;
  text-decoration: underline;
}

.question {
  font-size: larger;
  font-weight: bold;
}